*.suo
*.user
*.vspscc
*.scc
*.DS_Store
App_Data
Tmp
bin
obj
TestResults
Logs
packages
WebStore/Frontend/MobileWebMallV2/TypeScripts/*.js
WebStore/Frontend/MobileWebMallV2/TypeScripts/*.js.map
WebStore/Frontend/MobileWebMallV2/TypeScripts/**/*.js
WebStore/Frontend/MobileWebMallV2/TypeScripts/**/*.js.map
StyleCop.Cache
.idea/
.vs/
Backup*/
UpgradeLog*.htm
*.Cache
.sass-cache/
node_modules/
npm-debug.log
Enums.js
Enums.js.map
